:root {
    --pink-color: #FF6188;        
    --orange-color: #FC9867;   
    --green-color: #A9DC76;
    --purple-color: #AB9DF2;    /*cards*/
    --blue-color: #78DCE8;
    --darkGray-color: #2C2C2C;   /*background*/
    --Gray-color: #2F2F2F;    /*cards*/
    --lightGray-color: #72757C;
    --white-color: #F5F7F8;
    --iceWhite-color: #EEEEEE;
}
